$primary-color: #007bff;
body {
  background-color: $primary-color;
  color: white;
}
.button {
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
}

$number: 42;
$pi: 3.14;
$negativeNumber: -5;

$string1: "hello";
$string2: 'world';
$phrase: "Sass is awesome!";

$red: #ff0000;
$blue: rgb(0, 0, 255);
$semiTransparent: rgba(255, 0, 0, 0.5);
$green: hsl(120, 100%, 50%);

$isPrimaryColor: true;
$isDarkMode: false;

$property: "font-size";
$value: 16px;

body {
  #{$property}: $value;
}

// This is a single-line comment
/*
  This is a multi-line comment
  It can span multiple lines
  Useful for providing detailed explanations
*/

$add-operator: 10 + 5;
$subtract-operator: 10 - 5;
$multiply-operator: 10 * 5;
$divide-operator: 10 \ 5;
$modulus-operator: 10 % 5;

$less-operator: 10 < 5;
$greator-operator: 10 > 5;
$equality-operator: 10 == 5;
$inequality-operator: 10 != 5;
$lessequal-operator: 10 <= 5;
$greatoreq-operator: 10 >= 5;

$and-operator: true and false;
$or-operator: true or false;
$not-operator: not false;

$concatenation: "Hello" + " " + "world";

$color : red;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: #007bff;
      }
    }
  }
}


.element{
  @if $color == blue{
    color: $color;
  }
  @else if $color == green{
    color: $color;
  }
  @else {
    color: $color;
  }
}


@for $item from 1 through 10{
  .item-#{$item} {
    width: 2 * $item;
  }
}

@each $color in red, blue, green {
  .color-#{$color} {
    background-color: $color;
  }
}


$i : 1;
@while $i <= 10{
  .item-#{$i} {
    width: 2 * $i;
  }
  $i : $i + 1;
}

@mixin button ($color){
  background-color: $color;
  color: white;
  padding: 10px;
}

.primary-button {
  @include button(blue)
}

@function calculate-width($side){
  @return $side * 2;
}

.button-width{
  width: calculate-width(10);
}

@import 'variables';
body {
  background-color: $primary-color;
  color: $blue;
}

@import 'main.css';
$primary-color : var(--primary-color);
$secondary-color: var(--secondary-color);


$base-color: #007bff;
.lighter-color {
  background-color: lighten($base-color, 20%);
}
.darker-color {
  background-color: darken($base-color, 20%);
}

$number: 3.7;
$rounded-number: round($number);



%base-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
}

.primary-button {
  @extend %base-button;
  background-color: #007bff;
  color: white;
}

.secondary-button {
  @extend %base-button;
  background-color: #6c757d;
  color: white;
}


$colors: (#ff0000, #00ff00, #0000ff);
$first-color: nth($colors, 1); 

$font-sizes: (
  small: 12px,
  medium: 16px,
  large: 20px
);
$medium-font-size: map-get($font-sizes, medium); 
